
@media only screen and (max-width: 1024px) {
  .singlestatus h2 {
   
    margin-left: 10px;
  }
  .singlestatus {
    width: 51%;
  }
  .wishsingleproductText h1{
    padding-top: 3px;
    font-size: 21px;
  }
  .orderquantity h2 {
    padding-left: 3px;
  }
  h3.d-inline.item {
    width: 30%;
    padding-left: 13px;
}
h3.d-inline.qty {
  width: 16%;
}
h3.d-inline.unitPrice {
  width: 32%;
}
.item-quantity {
  margin-left: 10px;
}
label.form-check-label {
  font-size: 13px;
}
input.form-control.sidebar-section-input {
  font-size: 11px;
}
}
@media only screen and (max-width: 768px) {
  .carousel-image {
    width: 100%;
    height: 200px;
  }
  .elegentchairmenu {
    padding-bottom: 0px !important;
  }
  .promocodesection {
    margin-top: 0px;
  }
  button.viewButton {
    margin-bottom: 20px;
  }
  .bp {
    padding: 20px 0px;
  }
  .pt {
    padding-top: 30px;
  }
  .StoreImg {
    width: 30%;
    margin: 2px 10px;
  }
  span.product-discount {
    right: 38px;
    bottom: 36px;
  }
  button.viewButton.sellbutton {
    margin-top: -32px;
  }
  .selltitle h2:after {
    width: 103%;

    top: 43px;
    left: -11px;
  }
  .myProfileCard {
    margin-bottom: 10px;
  }
  .row.mt-5.mb-3.profileBox {
    margin-top: -20px !important;
  }
  .row.bg-white.myProfileTitle.mb-2.py-2 {
    width: 100%;
    margin-left: 2px;
  }
  .float-left.profileItem {
    width: 20%;
  }
  .float-left.profileItem {
    width: 16%;
  }
  .profileItem.two h6 {
    padding-left: 90px;
  }
  .wishlisttitle.accountSetting.mb-3 {
    margin-top: -32px;
  }
  .chairreview::before {
    display: none;
  }
  .galleryStore.bg-white.p-3 {
    margin-top: 10px;
  }
  button.btn.btn-light.galleryAdd {
    margin-bottom: 15px;
  }

  button.btn.btn-light.galleryBuy {
    margin-bottom: 15px;
  }
  .singleGalleryImg.bg-white.rounded {
    margin-bottom: 10px;
  }
  .col-lg-4.deliverysection {
    /* padding-left: 0px;
    margin-top: 29px; */
    padding-left: 51px;
    margin-top: -8px;
  }
  .elegentsinglechair {
    margin-bottom: 20px;
    float: left;
    width: 47%;
    margin-left: 13px;
    height: auto;
    margin-top: -30px;
  }
  .chairDeliverydetails.bg-light.p-3 {
    width: 766px;
  }
  .elegentpaymenttext p {
    padding-top: 31px;
    padding-left: 20px;
  }
  .productdescriptiondetails {
    width: 100%;
  }
  .stock.cart {
    padding-top: 17px!important;
}
.chaircolor h2 {
  padding-top: 0px;
}
.elegentpaymenttext.one {
 
  margin-left: 21px;
  margin-top: 23px;
}
.elegentpayment.mt-2 {
  margin-top: -11px;
}
.productdescriptiondetails {
  margin-top: -36px;
}


}
@media only screen and (max-width: 700px) {
.col-lg-4.deliverysection {
  padding-left: 0px;
  margin-top: 27px;
}
.chairdetails {
  margin-top: -89px;
}
.elegentsinglerating {
  float: left;
  width: 17%;
  padding-top: 10px;
  padding-left:0px;
}
.elegentsinglerating.two {
  width: 13%;
}
.goStore {
  text-align: left;
}
.elegentpayment.mt-2 {
  margin-top: -10px!important;
}
.wishlisttitle {
  margin-top: -36px;
}
.sidebar.card {
  margin-top: 20px;
}
.audienceMedia.media {
  display: block!important;
}
span.accountText {
  font-size: 9px;
}
.singleWidget img{
justify-content: center;
}
.singleWidget img {
  
  display: block;
  margin: auto!important;
}
.singleWidget h4 {
  
  padding-top: 19px!important;
}
.wishbanner.pb {
  
margin-top: 49px;
}
.orderProductDetails.cartline::after {
  width: 108%;
}
.profileItem.two h6 {
  padding-left: 0px;
}
.myProfileStatus p,.myProfilePrice p{
  font-size: 12px;
}
.myProfileTime{
  padding-top: 0px!important;
}
button.btn.btn-outline-danger {
  font-size: 13px;
}
.wishsingleproductText h1 {
  font-size: 13px;
}
.wishsingleproductText h4 {
  padding: 0px;
  
  font-size: 13px;
}
.wishsingleproductText h5 {
  font-size: 12px;
}

.orderquantity h2 {
  padding-top: 22px;
  font-size: 13px;
  
}
.orderquantity h3 {
  
  font-size: 12px;
  
  padding-top: 20px;
}
.orderstatus {
 
  margin-top: 54px;
}
.singlestatus {
 
  width: 51%;
}
.singlestatus h2 {
  padding-top: 7px;
  margin-left: -83px;
  font-size: 11px;
}
.singlestatus.two h2 {
  margin-top: -21px;
}
h3.cod-text {
  margin-top: -14px;
}
.orderstatus {
   border-bottom: none!important;
}
h3.d-inline.item {
  width: 24%;
  padding-left: 10px;
}
h3.d-inline.qty {
  width: 16%;
}
h3.d-inline.unitPrice {
  width: 32%;
}
button.btn.btn-primary.float-right.mt-3.backCartbtn {
  width: 36%;
}
.item-quantity {
  margin-left: 10px;
}
}
/*# sourceMappingURL=responsive.css.map */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .promocodesection {
    margin-top: 0px;
    padding-top: 20px;
  }
  .itemselection {
    width: 73%;
  }
  .cartimg {
    float: left;
    width: 44%;
    padding: 0px;
    margin-right: 4px;
  }
  .carttext h2 {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 4px;
    padding-bottom: 5px;
    padding-left: 4px;
  }
  .carttext h3 {
    font-size: 12px;
  }
  .cartprice {
    padding-left: 41px;
  }
  .cartprice h4 {
    font-size: 20px;
  }
  .cartprice:before {
    bottom: 3px;
  }
  button.viewButton {
    width: 80px;
  }
  span.product-discount {
    right: 107px;
    bottom: 37px;
  }
  .StoreImg {
    width: 100%;
    height: auto;
  }
  .card.card-middle {
    margin-top: -30px;
  }
  .chairreview::before {
    display: none;
  }
  .elegentratingreview.one p {
    padding-top: 0px;
  }
  .chairreview h1 {
    padding-top: 10px;
    font-size: 13px;
  }
  .chairreview.one {
    float: left;
    width: 26%;
  }
  .chairreview.two {
    padding: 0px 10px;
  }
  .pb {
    padding-bottom: 20px;
  }
  button.btn.btn-light.galleryAdd {
    margin-bottom: 15px;
  }

  button.btn.btn-light.galleryBuy {
    margin-bottom: 15px;
  }
  .chairDeliverydetails.bg-light.p-3 {
    margin-top: 36px;

    width: 376px;
    margin-left: -37px;
  }
  .elegentsinglechair {
    margin-bottom: 16px;
    float: left;
    width: 43%;
    margin-left: 13px;
    height: auto;
    margin-top: -30px;
  }
  .productdescriptiondetails {
    width: 100%;
  }
  .singlechair img {
    margin-left: 0px;
  }
  .elegentchairmenu {
     padding-left:0px;
  }
  .chairdetails {
    margin-top: -60px;
}
.stock {
  
  width: 40%;
}
.profileItem.two h6 {
  padding-left: 37px;
}
.myProfileStatus p,.myProfilePrice p{
  font-size: 10px;
}
.myProfileTime{
  padding-top: 0px!important;
}
button.btn.btn-outline-danger {
  font-size: 10px;
}
.shippmentBoxText h5 {
  font-size: 13px;
}
.myProfileTime p{
  font-size: 12px;
  line-height: 21px;
  margin-top: 32px;
  font-weight: 800;
}
.myProfileTitle h6 {
  font-size: 12px;
  padding-left: 4px;
}
.wishsingleproductText h1 {
  font-size: 13px;
}
.wishsingleproductText h4 {
  padding: 0px;
  
  font-size: 13px;
}
.wishsingleproductText h5 {
  font-size: 12px;
}
.orderquantity h2 {
  padding-top: 22px;
  font-size: 13px;
  
}
.orderquantity h3 {
  
  font-size: 12px;
  
  padding-top: 20px;
}
.orderstatus {
 
  margin-top: 54px;
}
.singlestatus {
 
  width: 51%;
}
.singlestatus h2 {
  padding-top:0px;
  
  margin-left:5px;
  font-size: 11px;
}
.singlestatus.two h2 {
  margin-top: -21px;
}
h3.cod-text {
  margin-top: -14px;
}
.orderstatus {
   border-bottom: none!important;
}
}
@media (max-width: 400px) {
  .itemselection {
    width: 89%;
  }
  .cartselection.cartitem {
    margin-top: 10px;
    padding: 11px 41px;
  }
  .cartprice h4 {
    padding-top: 12px;
    padding-left: 0px;
    font-size: 16px;
  }
  .cartprice:before {
    right: 0px;
  }
  .cartimg {
    float: left;
    width: 40%;
  }
  .carttext h2 {
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  .carttext h3 {
    font-size: 10px;
  }
  .cartinner {
    padding: 10px 10px;
    height: 86px;
  }
  .promotionsummery h1 {
    font-size: 21px;
    color: #000000;
    padding: 12px 0px;
    margin-top: 10px;
  }
  .elegentchairmenu ul {
    padding: 0px;
  }
  .elegentchairmenu {
    padding-left: 0px;
    padding-bottom: 36px;
  }
  .singlechair img {
    margin-left: 0px;
  }
  .stock {
    float: left;
    width: 45%;
  }
  .Chairinstock.icon {
    float: left;
    width: 21%;
  }
  .chairDeliverydetails {
    padding-top: 30px;
  }
  .col-lg-4.deliverysection {
    padding-left: 35px;
  }
  .elegentstoreImg.two {
    width: 42%;
  }
  .elegentrating {
    padding-top: 20px;
  }
  button.viewButton {
    margin-bottom: 15px;
  }
  .sliderCard.card {
    margin-bottom: 20px;
  }
  .bp {
    padding: 20px 0px;
  }
  button.viewButton.brandbutton {
    margin-top: 30px;
  }
  button.viewButton.storebutton {
    margin-top: 30px;
  }
  .row.pt.storepadding {
    padding-top: 25px;
    margin-left: 0px auto;
    text-align: center;
  }
  .sectionTitle h2 {
    margin-bottom: 25px;
  }
  .StoreImg {
    width: 100%;
    height: auto;
  }
  span.product-discount {
    right: 87px;
    bottom: 37px;
  }
  .singleWidget img.ml-5 {
    margin-left: 58px;
    margin-left: 95px !important;
  }
  .singleWidget h4 {
    margin-left: 50px !important;
  }
  .footerwidget a {
    margin-left: 10px;
    font-size: 14px;
  }
  .footertext p {
    line-height: 20px;
    font-size: 14px;
  }
  .gradientBox {
    margin-bottom: 13px;
  }
  .registerInfo.border-left.float-right {
    height: 174px;
  }
  .row.bg-white.myProfileTitle.mb-2.py-2 {
    width: 100%;
  }
  .shippmentBoxText h5 {
    font-size: 11px;
    margin-bottom: 0px;
  }
  .wishsingleproductIcon.myProfileTime p {
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 18px;
  }
  .myProfileStatus p,
  .myProfilePrice p {
    padding: 1px;
    font-size: 10px;
  }
  .myProfilePriceBtn button.btn.btn-outline-danger {
    width: 55px;
    font-size: 10px;
  }
  h5.d-inline {
    font-size: 10px;
  }
  img.d-inline {
    width: 30%;
  }
  .wishsingleproduct.shippingImg.myProfileImg img {
    height: 80px;
    margin-top: 10px;
  }
  .wishsingleproductIcon.myProfileTime p {
    font-size: 10px;
  }
  .wishsingleproductIcon.myProfileTime {
    width: 22%;
  }
  .wishsingleproductIcon.myProfilePrice.border-left {
    width: 15%;
  }
  .shippmentBoxText.myProfileText.border-right h5 {
    margin-top: 26px;
  }
  .border-left.myProfilePriceBtn {
    margin-top: 28px;
  }
  .innerwishlist.bg-white.myProfileBox {
    height: 84px;
  }
  .wishbanner.pb {
    padding-bottom: 10px;
  }
  .myProfileStatus p,
  .myProfilePrice p {
    margin-top: 0px;
  }
  .row.bg-white.myProfileTitle.mb-2.py-2 {
    margin-left: 1px;
    width: 100%;
  }
  .myProfileTitle h6 {
    font-size: 11px;
  }
  .float-left.profileItem {
    width: 17%;
  }
  .accountSetting img.d-inline {
    width: 30%;
  }
  span.accountText {
    font-size: 10px;
  }
  input.form-control {
    font-size: 14px;
  }
  .card.card-middle {
    margin-top: -30px;
  }
  .card.p-2.shadow-sm.mt-3 {
    margin-bottom: 20px;
  }
  .singleGalleryImg {
    height: 260px;
    margin-bottom: 10px;
  }
  .galleryStore.bg-white.p-3 {
    margin-top: 10px;
  }
  .galleryButton {
    margin-bottom: 10px;
  }

  .galleryProductDetails.mt-1 {
    margin-bottom: -22px;
  }

  button.btn.btn-light.galleryAdd {
    margin-bottom: 15px;
  }

  button.btn.btn-light.galleryBuy {
    margin-bottom: 15px;
  }
}
